@use 'fonts';

$card-bg: #ffffff;
$card-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
$primary-color: #6a5acd;
$radius: 14px;
$padding: 1.4rem;

$bg-light: #f0f0f0;
$bg-dark: #222;
$text-primary: #333;

$font-primary: 'Poppins', sans-serif;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Poppins', sans-serif;