// ---------------------------
// Model container
// ---------------------------
.model-container {
    position: relative;
  
    .model-fallback {
      display: block;
      width: 100%;
      max-width: 1200px;
      height: auto;
      margin: 0 auto;
  
      @media screen and (min-width: 768px) {
        display: none; 
      }
    }
  
    // Model-viewer for tablet/desktop
    model-viewer {
      width: 100%;
      max-width: 1200px;
      height: 700px;
      background-color: #efefef;
      margin: 0 auto;
  
      display: none; 
  
      @media screen and (min-width: 768px) {
        display: block; 
      }
  
      .Hotspot {
        display: none; 
  
        @media screen and (min-width: 768px) {
          display: inline-block !important; 
          position: absolute;
          width: 45px;
          height: 38px;
          border: none;
          background: url(../images/hotspot.svg) center no-repeat;
          cursor: pointer;
          transition: all 0.3s ease;
        }
      }
  
      .Hotspot:not([data-visible]) {
        opacity: 0;
        pointer-events: none;
      }
  
      .HotspotAnnotation {
        visibility: hidden;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.8);
        display: block;
        font-family: Futura, Helvetica Neue, sans-serif;
        font-size: 18px;
        font-weight: 700;
        left: calc(100% + 1em);
        max-width: 300px;
        overflow-wrap: break-word;
        padding: 0.5em 1em;
        position: absolute;
        top: 50%;
        width: max-content;
        text-align: left;
      }
  
      .HotspotAnnotation p {
        color: #333;
        line-height: 22px;
        font-weight: 300;
      }
  
      .HotspotAnnotation h2 {
        font-size: 18px;
        margin-bottom: 5px;
      }
  
      .HotspotAnnotation img {
        max-width: 250px;
      }
  
      &::part(default-progress-bar) {
        height: 30px;
        background-color: #f5bb70;
      }
    }
  }
  
  // ---------------------------
  // Loader keyframes
  // ---------------------------
  @keyframes circle {
    from {
      transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
    }
  }
  
  @keyframes elongate {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(-100px);
    }
  }